.productCardWrapper {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  pointer-events: none;
}

.productCard {
  position: relative;
  aspect-ratio: 1/1;
  height: 100%;
  width: 100%;
}

.productCard::after {
  content: attr(salelabel);
  position: absolute;
  right: 0;
  top: 10px;
  z-index: 10;
  display: flex;
  height: auto;
  width: auto;
  align-items: center;
  justify-content: center;
  background-color: red;
  color: white;
  padding-inline: 10px;
}

.productCardImage {
  height: 100%;
  width: 100%;
  object-fit: cover;
  user-select: none;
  z-index: 30;
}

.productCard ~ h2 {
  transition:
    color var(--lightDarkColorSwapTime) var(--lightDarkColorSwapEasing),
    background-color var(--lightDarkColorSwapTime) var(--lightDarkColorSwapEasing);
  background-color: var(--productCardBackgroundColor);
  color: var(--productCardTextColor);
}

.linethroughPrice {
  text-decoration: line-through;
}

.productCardText {
  font-size: var(--productCardTextSize);
  font-weight: var(--productCardTextWeight);
  margin: 0;
  padding: 0;
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: white;
  z-index: 40;
}
